.field
  = victim.label :name, "Victim Name"
  = victim.text_field :name
  .clear
  
.field
  = victim.label :url, "Victim URL"
  = victim.text_field :url
  .clear
  
.field
  = victim.label :selector, "CSS Selector"
  = victim.text_field :selector
  .clear
  
.field
  = victim.label :interval, "Visit Interval"
  = victim.text_field :interval
  .clear