.field
  = form.label :name, "Victim Name"
  = form.text_field :name
  .clear
  
.field
  = form.label :url, "Victim URL"
  = form.text_field :url
  .clear
  
.field
  = form.label :selector, "CSS Selector"
  = form.text_field :selector
  .clear
  
.field
  = form.label :interval, "Visit Interval"
  = form.text_field :interval
  .clear

.field
  = form.label :victim_type, "Victim Type"
  = form.select :victim_type, options_for_select(victim_types, victim.type)
  .clear