.navigation
  %ul
    %li= link_to 'Back', :back

  %h2 Edit Victim

.form
  - unless @victim.errors.empty?
    %ul.errors
      - @victim.errors.full_messages.each do |error_message|
        %li= error_message

  - form_for @victim do |form|
    = render :partial => "form", :locals => { :form => form, :victim => @victim }
    
    .field
      = form.submit nil, :confirm => "Are you sure? If you updated the CSS Selector, all visits will be lost"
      .clear
    
    .field
      = link_to 'Reset Data', victim_visits_path(@victim), :method => :delete, :confirm => "Are you sure? All data will be lost!"