- if editable?
  .navigation
    %ul
      %li= link_to 'New Victim', new_victim_path

#tables
  - @victims.each_slice(3) do |victim_slice|
    - victim_slice.each do |victim|
      .table
        %h2= link_to "#{victim.name}", victim_path(victim.to_param)
        - if victim.displayable?
          = render :partial => "#{victim.class.name.underscore}_table", :locals => { :visits => victim.successful_visits }

        - else
          %span Nothing to see here
    .clear

#graphs
  - @victims.each_slice(2) do |victim_slice|
    - victim_slice.each do |victim|
      .graph
        %h2= link_to "#{victim.name}", victim_path(victim.to_param)

        - if victim.displayable? && victim.is_a?(NumericVictim)
          .chart-container{ :data => data_array(victim).to_json, :name => victim.name }
            .chart
        - else
          .chart-container
            %span Nothing to see here
    .clear