#tables
  - @victims.each_slice(3) do |victim_slice|
    - victim_slice.each do |victim|
      .table
        %h2= link_to "#{victim.name}", victim_path(victim.to_param)
        %table
          %tr
            %th Date
            %th Data
    
          - victim.visits.limit(Victim::VISIBLE_VISITS).each do |visit|
            %tr
              %td= pretty_time visit.created_at
              %td= visit.value.to_i
                       
    .clear

#graphs
  - @victims.each_slice(2) do |victim_slice|
    - victim_slice.each do |victim|
      .graph
        %h2= link_to "#{victim.name}", victim_path(victim.to_param)
        .chart-container{ :data => data_array(victim).to_json, :name => victim.name }
          .chart

    .clear