.navigation
  %ul
    %li= link_to 'Back', :back
    - if editable?
      %li= link_to 'Edit', edit_victim_path(:id => @victim.to_param)
      %li= link_to 'Delete', victim_path(:id => @victim.to_param), :method => :delete, :confirm => "Are you really sure?"

    - if @victim.displayable? && @victim.downloadable?
      %li
        Download
        = link_to 'CSV', download_path(:id => @victim.to_param, :format => "csv")
        = link_to 'JSON', download_path(:id => @victim.to_param, :format => "json")
        = link_to 'XML', download_path(:id => @victim.to_param, :format => "xml")

  %h2 #{@victim.name}

  %table
    %tr
      %td Last visited
      %td
        - unless @victim.visited?
          %span Unvisited
        - else
          = @victim.last_visit.to_s
    %tr
      %td Victim Type
      %td #{@victim.type.to_s.titleize}
    / TODO: Interval is set to 24 hours because Heroku charges for anything faster
    / then that.
    / %tr
    /   %td Visit Interval
    /   %td= @victim.interval
    %tr
      %td Victim URL
      %td= @victim.url
    %tr
      %td CSS Selector
      %td "$('#{@victim.selector}')"
    %tr
      %td Successful Visits
      %td= @victim.successful_visits.count
    %tr
      %td Failed Visits
      %td= @victim.unsuccessful_visits.count

- if @victim.displayable?
  = render :partial => 'victim', :locals => { :victim => @victim }