.navigation
  %ul
    %li= link_to 'Back', :back
    %li
      Download
      = link_to 'CSV', download_path(:id => @victim.to_param, :format => "csv")
      = link_to 'JSON', download_path(:id => @victim.to_param, :format => "json")
      = link_to 'XML', download_path(:id => @victim.to_param, :format => "xml")

  %h2= @victim.name

  %table
    %tr
      %td Last visited
      %td= @victim.last_visit.to_s
    %tr
      %td Visit interval
      %td= @victim.interval
    %tr
      %td URL
      %td= @victim.url
    %tr
      %td CSS Selector
      %td "$('#{@victim.selector}')"
    %tr
      %td Successful Visits
      %td= @victim.successful_visits.count
    %tr
      %td Failed Visits
      %td= @victim.unsuccessful_visits.count

#tables
  .table
    %table
      %tr
        %th Date
        %th Data

      - @victim.successful_visits.each do |visit|
        %tr
          %td= pretty_time visit.created_at
          %td= visit.value.to_i
  .clear
  
#graphs
  .graph
    .chart-container{ :data => data_array(@victim).to_json, :name => @victim.name }
      .chart

  .clear