%html
  %head
    %title Trackinator
    = stylesheet_link_tag "reset", "all"
    = javascript_include_tag "jquery.min.js", "jquery_ujs.js", "highcharts", "application"

    = csrf_meta_tag

  %body
    %h1 Trackinator

    = yield
    
    .footer
      Copyright &copy; 2011 &mdash;
      = link_to "Impossible Rocket, Inc", "http://www.impossiblerocket.com", :target => :new